.movie-header {
  height: 200px;
  padding: 50px;
  border-bottom: 1px solid #d8d4d4;
}

.movie-contents-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.movie-list {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 30px;
}

.movie-info {
  width: 50%;
  white-space: normal;
  flex-wrap: wrap;
  padding: 20px 10px 12px 10px;
}

.movie-info h3 {
  width: 100%;
  word-wrap: normal;

  overflow-wrap: break-word;
  margin: 0;
}

.movie-footer {
  clear: both;
  text-align: center;
  margin: 20px;
  border: 1px solid rgb(212, 211, 211);
}

.movie-footer button {
  width: 300px;
  height: 35px;
  background-color: #fdfdfd;
  border-style: none;
}

.footer {
  width: 100%;
  height: 120px;
  background-color: rgb(212, 211, 211);
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}
