.header {
  position: relative;
  height: 70px;
  margin: 0 auto;
  line-height: 66px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d4d4;
}

.searchbar {
  position: absolute;
  left: 80px;
  top: 38%;
}

.header h1 {
  margin: 0;
  display: inline-block;
}

#header-logo {
  position: absolute;
  top: 12%;
  left: 0;
  margin: 10px;
}

.submenu {
  position: absolute;
  top: 90px;
  left: 0px;
  display: none;
}

.submenu ul li {
  list-style: none;
}

.userinfo {
  position: absolute;
  right: 2%;
  top: 0;
}

.userinfo button {
  margin-right: 10px;
}
