.movie_header {
  height: 200px;
  padding: 50px;
  border-bottom: 1px solid #d8d4d4;
}

.movie_wrapper {
  padding: 40px;
  margin: auto;
}

.movie_lists {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.movie_list {
  width: 21%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  justify-content: center;
  padding: 10px;
}

.movie_info {
  width: 50%;
  white-space: normal;
  flex-wrap: wrap;
  padding: 20px 10px 12px 10px;
}

.movie_list img {
  width: 185px;
  height: 278px;
}

.movie_info h3 {
  width: 100%;
  word-wrap: normal;

  overflow-wrap: break-word;
  margin: 0;
}

.null_poster {
  width: 185px;
  height: 278px;
  background-image: url("../assets/icons8-image-gallery-24.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  border: 1px solid #d1cfcf;
}

.movie_load {
  clear: both;
  text-align: center;
  margin: 20px;
  border: 1px solid rgb(212, 211, 211);
}

.movie_load button {
  width: 300px;
  height: 35px;
  background-color: #fdfdfd;
  border-style: none;
}
