.movie_detail_header {
  height: 400px;
  position: relative;
}

.header_backdrop{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 20% left 0;
  opacity: 0.8;
  z-index: -999;
}

.poster {
  position: absolute;
  top: 15%;
  left: 15%;
  box-shadow: 9px 9px 17px 4px #272727a8;
}

.header_info {
  position: absolute;
  top: 15%;
  right: 0;
  width: 800px;
  height: 200px;
  padding: 20px;
  background-color:#ffffffb8;
}

.header_info button {
  background-color: #f8bf00;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 120px;
  height: 45px;
  padding: 5px;
  margin: 2px 5px 2px 2px;
}

.reviewPage {
  width: 640px;
  height: auto;
  min-height: 500px;
  margin: auto;
  border: 1px solid #d8d4d4;
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
}

.reviewCancel {
  float: left;
  margin: 5px;
}

.reviewPage header {
  padding: 5px;
  border-bottom: solid 1px #d8d4d4;
}

.reviewPage header em {
  font-weight: bold;
  font-size: 23px;
}

.reviewTextarea {
  margin: 0 20px;
}

.reviewPage textarea, .reviewName {
  width: 100%;
  background-color: white;
  min-height: 500px;
  resize: none;
  overflow: auto;
  outline: none;
  border: none;
  font-size: 17px;
  letter-spacing: -0.7px;
  line-height: 27px;
}

.reviewSave {
  float: right;
}

.movie_detail_contents {
  padding: 10px;
  width: 80%;
  margin: auto;
}

.section_header {
  margin: 0;
  color: #f8bf00;
  font-size: 28px;
}

.casts {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 14px;
}

.cast {
  width: 140px;
  margin: 4px;
}

.profile_null {
  width: 138px;
  height: 175px;
  background-color: #d1cfcf;
  background-image: url("../../assets//icons8-person-90.png");
  background-repeat: no-repeat;
  background-position: center;
}
.cast_name {
  font-weight: bold;
}

.cast_character {
  font-weight: lighter;
}

.review {
  clear: both;
}

.reviewPage{
  display: none;
}

.ReviewData {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  float: left;
  margin: 5px;
  padding: 10px;
}
